.imghead {
  /* background-image: url('../images/bookshelf_2.jpg'); */
  background: linear-gradient(to bottom, #ffffff 0%, #eaeaea 100%);
  height: auto;
  border-bottom: 1px #aaaaab solid;
}

.test {
  background-image: url('../images/bookshelf_2.jpg');
  background-size: auto;
  height: 60px;
}

.logo {
  background-image: url('../images/logo.jpg');
  
  background-size: contain;
  background-repeat: no-repeat;
  height: 22px;
  width: 22px;
/*   background-position: center center;
border-radius: 5px; */
}
 
.body{
  width:500px;
  height:auto;
}

.searchBox {
	margin-top: 15px;
	margin-left: 15px;
	margin-right: 15px;
	margin-bottom: 15px;
	width: 100%;
}


.bgimage {
  margin-top: 2px;
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.2);
  border: 1px #aaaaab solid;
  background: linear-gradient(to bottom, #ffffff 0%, #eaeaea 100%);
  width:100%;

/*   border-color: #000000; */
}

table, th , td  {
  border: 1px solid grey;
  width:100%;

}

table {
  margin-top: 2px;
}

table tr:nth-child(odd) {
  background-color: #f1f1f1;
}
table tr:nth-child(even) {
  background-color: #ffffff;
}


#bookmark_scrollable {
  max-height: 300px;
  overflow-x:hidden;
}

.bookmarkTitle {
  border: 1px solid grey;
  text-align: center;
  cursor: pointer;
  width:80%;
  height:40px;
}


.dateAdded {
  border: 1px solid grey;
  text-align: center;
  cursor: pointer;
  width:20%;
  height:40px;
}

.title_bookmark{
  border: 1px solid grey;
  width:80%;
}

.title_bookmark:hover {
    background-color: lightblue;
} 

.date_bookmark{
  border: 1px solid grey;
  text-align: center;
  width:20%;
}


.window_header {

}

.col-xs-10 {
  position: relative;
  min-height: 1px;
  padding-left: 1px;
  padding-right: 0px;
  width: 85%;
}

@media{
  .btn{
        border-radius: 0px;
  }
}

.sortIcon{
  display:inline;
  cursor: pointer;
}


.moreControlOpt{
  float: right;
  cursor: pointer;
}

.moreControlOpt:hover {
    border: 1px solid grey;
} 

body.ngdialog-open{
  overflow:visible! important;
}

.myCenter{
  text-align: center;
}

.label_bookmark_info{
  position:relative;
  float:right;
  margin-top: 40px;

  font-family: Sans-serif;
  color: blue;
}

.icon_yellow{
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: orange;
  color:yellow;
}

.bookmark_setting{
  float:right;
  margin-top: 0px;
}

.btn_setting {
    display: inline-block;
    border-radius: 20px;
    border: 1px #dbdbdb solid;
    background: #fefefe;
    background: -moz-linear-gradient(top, #fefefe 0%, #eeeeee 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fefefe), color-stop(100%, #eeeeee));
    background: -webkit-linear-gradient(top, #fefefe 0%, #eeeeee 100%);
    background: -o-linear-gradient(top, #fefefe 0%, #eeeeee 100%);
    background: -ms-linear-gradient(top, #fefefe 0%, #eeeeee 100%);
    background: linear-gradient(to bottom, #fefefe 0%, #eeeeee 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#eeeeee', GradientType=0 );
    color: #6a6a6a;
    text-decoration: none;
    font-size: 16px;
    padding: 1 6px;
}

