

<html ng-app="bookmark">
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<link rel="stylesheet" href="css/font-awesome-4.6.3/css/font-awesome.min.css">
<link rel="stylesheet" href="css/ngDialog.css">
<link rel="stylesheet" href="css/ngDialog-theme-default.css">
<link rel="stylesheet" href="css/style.css">

</head>
<body class="body">
	<div class="imghead">
		<div class="container">
			<div class="row">
				<div class="col-xs-1 logo"></div>

					

					<div class="label_bookmark_info">	
					</div>

				<div id="bookmark-options" class= "fa fa-cog bookmark_setting btn btn_setting"> Settings </div>
			</div>
		</div>
	</div>


<div ng-controller="bookmarkCtrl">
	<div class="input-group">

			<div class="input-group-addon"><i class="fa fa-search"></i></div>
			<table>

				<td>
					<input id="search" class="form-control" ng-model="searchText" ng-init="searchText=''" placeholder="{{getNumberOfBookMarks()}}">
				</td>
				<td>
					<button class="btn btn-primary" ng-click="focusOnText();searchText=''">Clear</button>
				</td>

			</table>

	</div>

	

	<div ng-if="isNotEmpty(searchText)" id="bookmark_scrollable">
		<table>
			<td class="bookmarkTitle" ng-click="sortType = 'title'; sortReverse = !sortReverse">Title
				<span ng-show="sortType == 'title' && sortReverse" class="fa fa-caret-down sortIcon"></span>
	            <span ng-show="sortType == 'title' && !sortReverse" class="fa fa-caret-up sortIcon"></span>
			</td>

			<td class="dateAdded" ng-click="sortType = 'dateAdded'; sortReverse = !sortReverse">DateAdded
				<span ng-show="sortType == 'dateAdded' && sortReverse" class="fa fa-caret-down sortIcon"></span>
	            <span ng-show="sortType == 'dateAdded' && !sortReverse" class="fa fa-caret-up sortIcon"></span>
			</td>

			<tr ng-repeat="bookmark in bookmarkLists|orderBy:['isImportant','dateAdded']:sortReverse|filter:searchText">
			    <td class="title_bookmark" ng-mouseover="hoverEdit = true" ng-mouseleave="hoverEdit = false"> 
			    	<div ng-attr-id="{{'moreControlOpt_' + bookmark.getID()}}">
			    	<a href='' ng-click="openLink(bookmark.url)">{{bookmark.getTitle()}}</a> 
			    	<!-- <i ng-attr-id="{{'moreControlOpt_' + bookmark.getID()}}" class="fa fa-sm fa-caret-square-o-down moreControlOpt"></i> -->
					
					<i ng-show="bookmark.isImportant" ng-click="changeImportance(bookmark)" class="fa fa-star icon_yellow moreControlOpt"> </i>

			    	<i ng-show="hoverEdit == true" ng-click="deleteBookmarks(bookmark.getID())" class="fa fa-sm fa-trash moreControlOpt"></i>
					<i ng-show="hoverEdit == true && !bookmark.isImportant" ng-click="changeImportance(bookmark)" class="fa fa-star-o moreControlOpt"> </i>
			    	</div>
			    </td>
				<td class="date_bookmark">
					{{bookmark.getDate()}}
				</td>
			</tr>
		</table>
	</div>
	
</div>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="js/ngDialog.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/utility.js"></script>
  <script src="js/bookmarkModel.js"></script>
  <script src="js/popup.js"></script>
  <script src="js/bookmarkController.js"></script>
 


</body>
</html>
